@media only screen and (min-width: 360px) {
	html{font-size:21px;}
}
@media only screen and (min-width: 375px) {
	html{font-size:21.5px;}
}
@media only screen and (min-width: 400px) {
	html{font-size:22.5px;}
}
@media only screen and (min-width: 414px) {
	html{font-size:23px;}
}
body{background:#f2f4f6;color:#333;font-family:\5FAE\8F6F\96C5\9ED1;}
.iconfont{font-size:.8rem;}
/*音频*/
.audio-box{padding:.4rem .5rem;height:34px;border:1px solid #e0e0e0;border-radius:3px;background-color:#fcfcfc;}
.audio-icon{float:left;width:30px;height:30px;border:2px solid #4dcd70;border-radius:50%;text-align:center;}
.audio-icon i{display:inline-block;margin-top:7px;width:12px;height:16px;background:url(../images/audio-icon.png) no-repeat;background-position: -30px 0;background-size:45px 16px;}
.audio-box.curr.loading .audio-icon i {animation: none;-webkit-animation: none;}
.audio-box.curr .audio-icon i{-webkit-animation:iconwave 1s steps(3) infinite backwards;animation:iconwave 1s steps(3) infinite backwards;}
@-webkit-keyframes iconwave{
  from{background-position: 0 0;}
  to{background-position: -45px 0;}
}
@keyframes iconwave{
  from{background-position: 0 0;}
  to{background-position: -45px 0;}
}
.audio-con{padding:.35rem 0 .25rem 2.5rem;}
.audio-timeline{position:relative;width:100%;height:2px;background-color:#ebebeb;}
.audio-timeline .bar{position:relative;display:none;width:0;height:2px;background-color:#4dcd70;}
.audio-box .audio-timeline .bar:after{position:absolute;top:-4px;right:-4px;display:inline-block;width:10px;height:10px;border-radius:50%;background-color:#4dcd70;box-shadow: 0 0 0 4px rgba(77,205,112,.2);content:'';}
.audio-box.loading .audio-timeline {background: url(../images/audio-loading.png) repeat-x #ebebeb;background-size: auto 100%;animation:repeatx 5s linear infinite;-webkit-animation:repeatx 5s linear infinite;}
.audio-box.active .audio-timeline .bar{display:block;}
.audio-time{margin-top:.4rem;color:#909090;font-size:.6rem;}
.audio-time .all-time{float:right;}
@-webkit-keyframes repeatx{
	to{background-position: 100% 0;}
}
@keyframes repeatx{
	to{background-position: 100% 0;}
}
.audio-blue .audio-icon{border-color: #17b3ec;}
.audio-blue .audio-icon i {background: url(../images/audio-icon-blue.png) no-repeat;background-position: -30px 0;background-size: 45px 16px;}
.audio-blue .audio-timeline .bar {background-color: #17b3ec;}
.audio-box.audio-blue .audio-timeline .bar:after {background-color: #17b3ec;box-shadow: 0 0 0 4px rgba(23,179,263,.2);}